<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет о Студиях</title>
</head>
<body>
    Обратно: <a href="/">На главную</a>
    <table border="1" cellpadding="1" cellspacing="0">
        <tr>
        <th>Студия</th>
        <th>Разовый абонемент</th>
        <th>Месячный абонемент</th>
        <th>Годовой абонемент</th>
        <th>Общая сумма</th>
        </tr>
        {% for key, val in study.items %}
        <tr>
            <td>{{key}}</td>
            <!-- <td>{{val}}</td> -->
            <td>
                Стоимость одного абонемента: {{val.priceSingle}} <br>
                Количество купленных: {{val.cntSingle}} <br>
                Сумму купленных абонементов: {{val.allPriceSingle}}
            </td>
            <td>
                Стоимость: {{val.priceMonth}} <br>
                Количество купленных: {{val.cntMonth}}
                Сумму купленных абонементов: {{val.allPriceMonth}}
            </td>
            <td>
                Стоимость: {{val.priceYear}} <br>
                Количество купленных: {{val.cntYear}}
                Сумму купленных абонементов: {{val.allPriceYear}}
            </td>
            <td>{{val.allPrice}}</td>
        </tr>
        {% endfor %}
    </table>
    Общая сумма: {{all_price}} руб.
</body>
</html>