{% extends "admin/change_list.html" %}

{% block object-tools-items %}
<style>
    ul.object-tools {
        display: flex;
        flex-direction: row;
    }
</style>
<script>
    function generateReport() {
        window.location.replace("/admin/education/teacherreport/?x=123");
    }
</script>
<form>
<label>Преподаватель </label>
<select>
    {% for teacher in teachers %}
        <option>{{teacher.fio}}</option>
    {% endfor %}
    </select>
<label>С: </label>
<input type="date" name="С:">
<label>По: </label>
<input type="date" name="По:">
</form>
  <li>
    <button onclick="generateReport()">
     Создать отчёт
    </button>
  </li>
  
  {{ block.super }}
{% endblock %}